---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import { sortNewsByDateDesc, toArticleDigest } from '../../lib/news'

const news = sortNewsByDateDesc(await getCollection('news')).map(toArticleDigest)

const formatDate = (value: string) => {
  return new Intl.DateTimeFormat('zh-CN', {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
  }).format(new Date(value))
}
---

<Layout title="News | HITSZ OSA Mirrors">
  <div class="flex flex-col w-full min-w-0 max-w-screen-lg">
    <h1 class="pb-8 text-3xl font-semibold">News</h1>
    <ul class="flex w-full flex-col items-center">
      {
        news.map((item) => (
          <li class="flex justify-center w-full md:w-[20em]">
            <article class="flex flex-col space-y-2 p-4 w-full border-t-[0.1em] border-slate-300 dark:border-slate-600">
              <a
                href={item._path}
                class="transition-colors max-w-min hocus:text-blue-400 dark:hocus:text-blue-300"
              >
                <h2 class="text-xl font-medium truncate">{item.title}</h2>
              </a>
              <p>{item.description}</p>
              <div class="flex justify-between pt-1 text-slate-400 text-sm">
                <div>{formatDate(item.date)}</div>
                <div>
                  <ul class="flex space-x-4">
                    {item.tags.map((tag) => <li class="flex shrink items-center space-x-1">{tag}</li>)}
                  </ul>
                </div>
              </div>
            </article>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
